# Implementing a Decision Tree with scikit-learn

Dr J Rogel-Salazar

[j.rogel.datascience@gmail.com](mailto:j.rogel.datascience@gmail.com)

Let us import some librarioes that we will use during the practice

In [1]:
%pylab inline
import numpy as np
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

We can read the data with the help of pandas using the `read_csv` method

In [13]:
iris_data = pd.read_csv('./data/iris.csv')

Let us look at the first 6 records:

In [14]:
iris_data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [23]:
iris_data.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

As we can see, the species is provided as a string, but the algorithms we are likely to use only take numerical values. 

Let us write a function that transforms the strings into numbers:

- Setosa: 0
- Versicolor: 1
- Virginica: 2

In [25]:
speciesToNumDictionary = { 'setosa' : 0, 'versicolor' : 1, 'virginica' : 2 }

def get_num(x):
    return speciesToNumDictionary[x]

We can now apply the function to the `species` field in our data:

In [26]:
iris_data['target']= iris_data['species'].apply(get_num)

Just for kicks, let us look at the last 6 records:

In [27]:
iris_data.tail()

     sepal_length  sepal_width  petal_length  petal_width    species  target
145           6.7          3.0           5.2          2.3  virginica       2
146           6.3          2.5           5.0          1.9  virginica       2
147           6.5          3.0           5.2          2.0  virginica       2
148           6.2          3.4           5.4          2.3  virginica       2
149           5.9          3.0           5.1          1.8  virginica       2

In [29]:
type( iris_data.target.values )

numpy.ndarray

In [33]:
featuresCol = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']

In [34]:
#featuresCol = iris_data.columns[0:4]

type( iris_data[featuresCol].values )

numpy.ndarray

# Modelling the data

As we mentioned above the algorithm we are going to use requires data to be numerical and structures in arrays. 

We can extract the values from the pandas dataframe:

- `X`: the iris attributes
- `Y`: target species

In [7]:
X = iris_data[featuresCol].values
Y = iris_data['target'].values

Let us import the `tree` method from the Scikit-Learn library

In [8]:
from sklearn import tree

Scikit-learn requires us to create an instance of the model, in this case we use the `DecisionTreeClassifier` method using `entropy` as the criterion used to partition our data.

Entropy in information theory tells us how much information there is in an event. In general, the more uncertain or random the event is, the more information it will contain. The concept of information entropy was created by mathematician Claude Shannon.

In [35]:
model = tree.DecisionTreeClassifier(criterion='entropy')

Once we have an instance of the model we can fit it with the `fit` model by providing the inputs and target:

In [36]:
IrisTree = model.fit(X, Y)

Remember that we are interested in predicting the likely species of a flower based on its characteristics. 

We can obtain the predictions given by the model with the help of the `predict` method.

In [37]:
iris_pred = IrisTree.predict(X)